/* 
 Сейчас мы выделим группы текста чтобы упростить дальнейшую розработку

Освежим в памяти изученное 

Блок CSS иначе называемый "Правилом" является блоком из которых состоит нащ CSS:

p (селектор) {font-size:(property - свойство) 1.2em (value - значение)} (declarion - обьявление)

Есть два варианта подключения стилей. Но использовать мы будем внешние стили.
Мы их подключаем в <head></head> html документа так:
<head>
    <link rel="stylesheet" href="/css(папка где лежит файл со стилями)/styles.css (заведомо созданный файл)">
</head>


Итак, база которую мы используем:
Селектор класса в CSS .валидное/понятное название класса (юзаем "-" между словами) "card-set" { padding: 100px; text-decoration: none; color:yellow;}

Для якорей (для быстрой перемотки на странице к какому нибудь участку страницы) будет использовать идентификаторы:#title { font-weight: 500; color: orange;} а в html документе пишем <p id="title">Холод правиден</p>.Используеться единожды.

Селектор потомка, сначала я эту херню не понимал. Затем внезапно для себя я короч все понял. Есть список под ul но изменить хочется только li-шки. Шо делать? Потупает предложение к классу дописать 
название тега например: .card-set li { padding: 100px; text-decoration: none; color:yellow;}.

Селектор ребенка позволит задать стиль конкретному элементу даже если он был завернут в аналогичный элемент: .card-set > li { padding: 100px; text-decoration: none; color:yellow;}

Селектор атрибута
Позволяет применить стили к элементам с определённым атрибутом или его значением.

элемент[атрибут]#
Применит стили ко всем элементам у которых есть указанный атрибут.

<a href="https://htmlreference.io" title="Справочник тегов">
  htmlreference.io
</a>

<a href="https://cssreference.io" title="Справочник стилей">
  cssreference.io
</a>

<a href="https://www.youtube.com">YouTube </a>
Выберет все ссылки с атрибутом title.

a[title] {
  color: teal;

  Проценты в HEX надо писать слитно со знаком "%"
}

*/


:root {
    --brand-color: #2196F3;
    --title-color: #212121;
    --general-text-color: #757575;
    --contacts-footer: #FFFFFF99;
    --address-footer: #FFFFFF;
    --main-title-action: #FFFFFF;
    --background-title: #2F303A;
    --portfolio-background-button: #F5F4FA;
}

.uppercase {
    font-style: uppercase;
}

/* 1. Это стили для шапки навигации Index/Portfolio*/

.logo {
    color: var(--brand-color);
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
}

.logo-part-2 {
    color: var(--title-color);
}

.nav a {
    color: var(--title-color);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.nav a:hover {
    color: var(--brand-color);
    cursor: pointer;
}

.contacts {
    color: var(--general-text-color);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.contacts:hover {
    color: var(--brand-color);
    cursor: pointer;
}


/* 2. Это стили для основной части Index/Portfolio*/

.main-title-background {
    background-color: var(--background-title);
}

.main-title {
    color: var(--main-title-action);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 44px;
    font-weight: 900;
}

.button-action {
color: var(--brand-color);
}

.button-text {
    color: var(--main-title-action);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--brand-color);
    border: none;
    cursor: pointer;
}

.mini-title-h2 {
    color: var(--title-color);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
}

.traits-text {
    color: var(--general-text-color);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
}

.key-positions-title {
    color: var(--title-color);
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-size: 36px;
    font-weight: 700;
}

.team-title {
    color: var(--title-color);
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
}

.team-text { 
    color: var(--general-text-color);
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
}




/* 3. Стили для футера Index/Portfolio*/

.background-footer {
    background-color: var(--background-title);
}

.footer-logo-part-2 {
    color: var (--title-color);
    text-decoration: none;
}

.address {
    color: var(--address-footer);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.footer-cotacts {
    color: var(--contacts-footer);
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

/*Стили для основной части Protfolio*/

.portfolio-button button {
    color: var(--title-color);
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--portfolio-background-button);
}

.portfolio-button button:hover {
    color: var(--main-title-action);
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--brand-color);
}