/* 
 Сейчас мы выделим группы текста чтобы упростить дальнейшую розработку

Освежим в памяти изученное 

Блок CSS иначе называемый "Правилом" является блоком из которых состоит нащ CSS:

p (селектор) {font-size:(property - свойство) 1.2em (value - значение)} (declarion - обьявление)

Есть два варианта подключения стилей. Но использовать мы будем внешние стили.
Мы их подключаем в <head></head> html документа так:
<head>
    <link rel="stylesheet" href="/css(папка где лежит файл со стилями)/styles.css (заведомо созданный файл)">
</head>


Итак, база которую мы используем:
Селектор класса в CSS .валидное/понятное название класса (юзаем "-" между словами) "card-set" { padding: 100px; text-decoration: none; color:yellow;}

Для якорей (для быстрой перемотки на странице к какому нибудь участку страницы) будет использовать идентификаторы:#title { font-weight: 500; color: orange;} а в html документе пишем <p id="title">Холод правиден</p>.Используеться единожды.

Селектор потомка, сначала я эту херню не понимал. Затем внезапно для себя я короч все понял. Есть список под ul но изменить хочется только li-шки. Шо делать? Потупает предложение к классу дописать 
название тега например: .card-set li { padding: 100px; text-decoration: none; color:yellow;}.

Селектор ребенка позволит задать стиль конкретному элементу даже если он был завернут в аналогичный элемент: .card-set > li { padding: 100px; text-decoration: none; color:yellow;}

Селектор атрибута
Позволяет применить стили к элементам с определённым атрибутом или его значением.

элемент[атрибут]#
Применит стили ко всем элементам у которых есть указанный атрибут.

<a href="https://htmlreference.io" title="Справочник тегов">
  htmlreference.io
</a>

<a href="https://cssreference.io" title="Справочник стилей">
  cssreference.io
</a>

<a href="https://www.youtube.com">YouTube </a>
Выберет все ссылки с атрибутом title.

a[title] {
  color: teal;

  Проценты в HEX надо писать слитно со знаком "%"
}

*/


:root {
    --brand-color: #2196F3;
    --title-color: #212121;
    --general-text-color: #757575;
    --contacts-footer: #FFFFFF 60%;
    --adress-footer: #FFFFFF;
    --main-title-action: #FFFFFF;
}


/* 1. Это стили для шапки навигации*/

.logo {
    color: var(--brand-color);
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.logo-part-2 {
    color: var(--title-color);
}

.nav a {
    color: var(--title-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
}


/* 2. Это стили в оснвном для основной части*/

